{% extends 'base.html' %}
{% block content %}

<div class="container">
	<h2>Update</h2>
	<form action="/update/" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{{board.id}}"><br />
		<div class="form-group">
			<label for="writer">Writer:</label>
			<input type="text" class="form-control" id="writer" placeholder="Enter Subject" name="writer" value="{{board.writer}}">
		</div>
		<div class="form-group">
			<label for="title">Title:</label>
			<input type="text" class="form-control" id="title" placeholder="Enter title" name="title" value="{{board.title}}">
		</div>
		<div class="form-group">
			<label for="content">Content:</label>
			<textarea class="form-control" rows="5" id="content" name="content">{{board.content}}</textarea>
		</div>
		<div class="form-group">
			<label for="file">File:</label>
			<div class="d-flex justify-content-end">
			 <input type="file" class="form-control" id="file" placeholder="Enter file" name="file">
		   <span class="form mt-1">{{board.filename}}</span>
		  </div>
		</div>
		
		<button type="submit" class="btn btn-primary">수정하기</button>
	</form>
</div>

{% endblock %}