{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- {% get_static_prefix %} 경로/파일명.확장자 (약간 클리어하게 프린팅됨.)-->
<div class="container my-3">
	<img src="{% get_static_prefix %}images/{{image_dic.plot}}" width="600" height="400">
</div>
<div class="container my-3">
	<img src="{% get_static_prefix %}images/{{image_dic.bar}}" width="600" height="400">
</div>
<div class="container my-3">
	<img src="{% get_static_prefix %}images/{{image_dic.pie}}" width="600" height="400">
</div>

{% endblock %}